---
#
# Nexus settings
#
nexus_with_http_proxy: true
nexus_http_proxy_host: '{{ ansible_env.http_proxy_host | default("localhost") }}'
nexus_http_proxy_port: '{{ ansible_env.http_proxy_port | default("480") }}'
nexus_https_proxy_host: '{{ ansible_env.https_proxy_host | default("localhost") }}'
nexus_https_proxy_port: '{{ ansible_env.https_proxy_port | default("480") }}'

nexus_default_host: nexus
nexus_admin_password: 'admin123'

nexus_anonymous_access: true

ldap_connections:
  - ldap_name: 'My Company LDAP' # used as a key to update the ldap config
    ldap_protocol: 'ldap' # ldap or ldaps
    ldap_hostname: '{{ ansible_env.LDAP_HOST | default("localhost") }}'
    ldap_port: '{{ ansible_env.LDAP_PORT | default("389") }}'
    ldap_auth: 'simple' #or 'none'
    #ldap_auth_username: # 'username' (or DN)   (optional)
    ldap_auth_username: '{{ ansible_env.LDAP_BIND_DN | default("cn=admin,ou=base,dc=test") }}'
    ldap_auth_password: '{{ ansible_env.LDAP_PASSWORD | default("test") }}'
    ldap_search_base: '{{ ansible_env.LDAP_BASE | default("ou=base,dc=test") }}'
    ldap_user_base_dn: '{{ ansible_env.LDAP_BASE_DN | default("ou=people") }}'
#    ldap_user_filter: '(cn=*)' # (optional)
    ldap_user_object_class: 'inetOrgPerson'
    ldap_user_id_attribute: 'uid'
    ldap_user_real_name_attribute: 'cn'
    ldap_user_email_attribute: 'mail'
    ldap_map_groups_as_roles: true
    ldap_group_base_dn: 'ou=groups'
    ldap_group_object_class: 'posixGroup'
    ldap_group_id_attribute: 'cn'
    ldap_group_member_attribute: 'memberUid'
    ldap_group_member_format: '${username}'

nexus_privileges:
  - name: all-repos-read # used as key to update a privilege
    description: 'Read & Browse access to all repos'
    repository: '*'
    actions:
      - read
      - browse

nexus_roles:
  - id: group-admin # can map to a LDAP group id, also used as a key to update a role
    name: role-group-admin
    description: Admin nexus
    privileges: []
    roles:
      - nx-admin

  - id: group-user # can map to a LDAP group id, also used as a key to update a role
    name: role-group-user
    description: Sample developpeur
    privileges: []
    roles:
      - nx-search-read
      - all-repos-read

  - id: docker-hosted # can map to a LDAP group id, also used as a key to update a role
    name: role-docker-hosted
    description: Role de push sur private registry  docker
    privileges:
      - 'nx-repository-admin-docker-docker-hosted-*'
      - 'nx-repository-view-docker-docker-hosted-*'
    roles: []

nexus_local_users:
  - username: jenkins-build # used as key to update
    first_name: Jenkins build
    last_name: CI
    email: ci@test.com
    password: "password01"
    roles:
      - docker-hosted

  - username: jenkins-deploy # used as key to update
    first_name: Jenkins deploy
    last_name: CD
    email: cd@test.com
    password: "password02"
    roles:
      - docker-hosted

nexus_config_docker: true
nexus_config_raw: true
nexus_config_pypi: true
nexus_delete_default_repos: true

nexus_repos_docker_hosted:
  - name: docker-hosted
    http_port: "{{ nexus_docker_hosted_port }}"
    v1_enabled: False
    force_basic_auth: True
    write_policy: allow # allow_once or allow

nexus_repos_raw_proxy:
  - name: debian
    remote_url: 'http://cdn-fastly.deb.debian.org/'
  - name: debian9
    remote_url: 'http://ftp.free.fr/debian9'
  - name: debian9-security
    remote_url: 'http://ftp.free.fr/debian9-security'
  - name: debian8
    remote_url: 'http://ftp.free.fr/debian8'
  - name: debian8-security
    remote_url: 'http://ftp.free.fr/debian-security'
  - name: nginx
    remote_url: 'http://nginx.org/packages/mainline/debian/'
  - name: gitlab
    remote_url: 'https://packages.gitlab.com/gitlab/gitlab-ce'
  - name: jenkins
    remote_url: 'https://pkg.jenkins.io/debian-stable'
  - name: jenkins-updates
    remote_url: 'https://updates.jenkins.io'
  - name: docker-project
    remote_url: 'https://download.docker.com'
#
# Gitlab settings
#
gitlab_host: http://gitlab
gitlab_user: root
#gitlab_user: gitlab-config
gitlab_password: mypassword
#gitlab_token: UycJ3Uyn1MHksZzV_3PY

gitlab_application_settings:
  signup_enabled: false
  usage_ping_enabled: false
  gravatar_enabled: false
  shared_runners_enabled: false
  restricted_visibility_levels: []

gitlab_update_users: false

gitlab_local_users:
  - username: gitlab-config
    name: "gitlab config"
    email: gitlab-config@test.com
    password: mypassword
    skip_confirmation: true
    reset_password: false
    update_password: false
    can_create_group: true
    admin: true

  - username: jenkins-build
    name: "jenkins build"
    email: ci@test.com
    password: password01
    skip_confirmation: true
    reset_password: false
    update_password: false
    can_create_group: false
    projects_limit: 0

  - username: jenkins-deploy
    name: "jenkins deploy"
    email: cd@test.com
    password: password02
    skip_confirmation: true
    reset_password: false
    update_password: false
    can_create_group: false
    projects_limit: 0

  - username: ldapuser
    email: ldapuser@test.nowhere.com
    name: "ldapuser"
    password: '_NOT_USED_'
    reset_password: true
    update_password: false
    skip_confirmation: true
    can_create_group: true
    extern_uid: 'uid=ldapuser,{{ ansible_env.LDAP_BASE_DN | default("ou=people") }},{{ ansible_env.LDAP_BASE | default("ou=base,dc=test") }}'
    provider: 'ldapmain'
    admin: true

gitlab_update_groups: true
gitlab_groups:
  - name: group1
    path: group1
#    delete: true
    description: "group1"
    visibility: "private" # internal or public
#    lfs_enabled: "true"
#     request_access_enabled: "false"
#     parent_id: 1
    members:
      - name: jenkins-build
        access_level: 40 # guest # reporter developer master 
#        expires_at: "2016-09-26"
      - name: jenkins-deploy
        access_level:  40 # guest # reporter developer master 
#        expires_at: "2016-09-26"

gitlab_update_projects: true
#gitlab_projects: []
gitlab_projects:
  - name: "user repo test1 for group1"
    path: test1
    namespace: group1
    description: "my group1"
    delete: false
    members:
      - name: jenkins-build
        access_level: 40 # guest # reporter developer master 
#        expires_at: "2016-09-26"

